<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js test</title>
    </head>
    <body>
        <div id="app">
            <template v-if="display">
                <h1>This is my title</h1>
                <h2>This is my subtitle</h2>
                <a v-if="display" :href="url" target="_blank">Go to {{ page }}</a>
            </template>

            <div v-show="display">
                <h1>This is my title</h1>
                <h2>This is my subtitle</h2>
                <a v-if="display" :href="url" target="_blank">Go to {{ page }}</a>
            </div>
            <div v-show="!display">
                It's empty
            </div>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script type="text/javascript">
            let app = new Vue({
                el: '#app',
                data: {
                    url: 'http://google.com',
                    page: 'Google',
                    display: true
                }
            })
        </script>
    </body>
</html>
